@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,200&display=swap');


$body-font: 'Bitter', serif;
$headers-font: 'Alfa Slab One', cursive;

p {
  font-color: #ccc;
  font-family: $body-font;
}
