.container-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

.container-main {

}

img {
  max-height: 220px;
  max-width: 220px;
}
