.container-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

img {
  max-height: auto;
  max-width: 220px;

  @media (max-width: 768px){
    max-width: 150px;
  }
}
