  <div class="container-main">
    <div id="card-enter">
      <% @galleries.each do |gallery| %>
        <%= link_to gallery_path(gallery), class: 'text-decoration-none' do %>
        <img src="https://res.cloudinary.com/dzwpbkn3u/image/upload/v1636352739/sushi-1_giv8dr.png" alt="sushi" style="width: 100px;">
      <% end %>
    <% end %>
  </div>
</div>
