<div class="all">
<div id="title" class="position-relative text-center mt-5 mb-5">
  <h1>portfolio</h1>
</div>
  <div class="container-items">
    <div class="card-image">
        <% @items.each do |item| %>
        <%= image_tag item.img_url, alt: "item" %></br>
      <% end %>
    </div>
  </div>
  <p class="text-center"><small>*by apprenehsive-fig*</small></p>
</div>
